In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

print dates
print df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.530213  0.021556 -0.884208 -1.678046
2013-01-02 -0.371620  1.338301  1.022090  1.257012
2013-01-03 -0.116241 -0.236200  0.352203  0.316436
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229
2013-01-06  0.010682 -0.503978  0.493109  1.302329

In [43]:
# getting
print df['A']
print df['B']

print df[0:3]

print df['2013-01-01':'2013-01-04']

2013-01-01    0.530213
2013-01-02   -0.371620
2013-01-03   -0.116241
2013-01-04   -1.438136
2013-01-05   -0.559089
2013-01-06    0.010682
Freq: D, Name: A, dtype: float64
2013-01-01    0.021556
2013-01-02    1.338301
2013-01-03   -0.236200
2013-01-04   -0.447501
2013-01-05   -1.498266
2013-01-06   -0.503978
Freq: D, Name: B, dtype: float64
                   A         B         C         D
2013-01-01  0.530213  0.021556 -0.884208 -1.678046
2013-01-02 -0.371620  1.338301  1.022090  1.257012
2013-01-03 -0.116241 -0.236200  0.352203  0.316436
                   A         B         C         D
2013-01-01  0.530213  0.021556 -0.884208 -1.678046
2013-01-02 -0.371620  1.338301  1.022090  1.257012
2013-01-03 -0.116241 -0.236200  0.352203  0.316436
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272

In [44]:
# selection by label

print df.loc[dates[0]]

print df.loc[:, ['A', 'B']]    # 取特定列

print df.loc['20130101':'20130104', ['A', 'B', 'C']]

print df.loc[dates[0], 'A']
print df.loc[dates[1], 'B']

print df.at[dates[0], 'A']

A    0.530213
B    0.021556
C   -0.884208
D   -1.678046
Name: 2013-01-01 00:00:00, dtype: float64
                   A         B
2013-01-01  0.530213  0.021556
2013-01-02 -0.371620  1.338301
2013-01-03 -0.116241 -0.236200
2013-01-04 -1.438136 -0.447501
2013-01-05 -0.559089 -1.498266
2013-01-06  0.010682 -0.503978
                   A         B         C
2013-01-01  0.530213  0.021556 -0.884208
2013-01-02 -0.371620  1.338301  1.022090
2013-01-03 -0.116241 -0.236200  0.352203
2013-01-04 -1.438136 -0.447501 -0.705454
0.53021280325
1.33830083049
0.53021280325

In [45]:
# Selection by Position

print df.iloc[3]

print df.iloc[3:5, 0:2]

print df.iloc[:, 1:3]

A   -1.438136
B   -0.447501
C   -0.705454
D   -0.258272
Name: 2013-01-04 00:00:00, dtype: float64
                   A         B
2013-01-04 -1.438136 -0.447501
2013-01-05 -0.559089 -1.498266
                   B         C
2013-01-01  0.021556 -0.884208
2013-01-02  1.338301  1.022090
2013-01-03 -0.236200  0.352203
2013-01-04 -0.447501 -0.705454
2013-01-05 -1.498266 -1.021058
2013-01-06 -0.503978  0.493109

In [46]:
# Boolean Indexing

print df[df.A > 0]

print df[df > 0]

df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']

print df2

print df2[df2['E'].isin(['two', 'four'])]

                   A         B         C         D
2013-01-01  0.530213  0.021556 -0.884208 -1.678046
2013-01-06  0.010682 -0.503978  0.493109  1.302329
                   A         B         C         D
2013-01-01  0.530213  0.021556       NaN       NaN
2013-01-02       NaN  1.338301  1.022090  1.257012
2013-01-03       NaN       NaN  0.352203  0.316436
2013-01-04       NaN       NaN       NaN       NaN
2013-01-05       NaN       NaN       NaN  1.629229
2013-01-06  0.010682       NaN  0.493109  1.302329
                   A         B         C         D      E
2013-01-01  0.530213  0.021556 -0.884208 -1.678046    one
2013-01-02 -0.371620  1.338301  1.022090  1.257012    one
2013-01-03 -0.116241 -0.236200  0.352203  0.316436    two
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272  three
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229   four
2013-01-06  0.010682 -0.503978  0.493109  1.302329  three
                   A         B         C         D     E
2013-01-03 -0.116241 -0.236200  0.352203  0.316436   two
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229  four

In [47]:
# Setting
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df['F'] = s1

print df

df.at[dates[0], 'A'] = 0
print df

df.iat[0, 1] = 0
print df

df.loc[:,'D'] = np.array([5] * len(df))
print df

df2 = df.copy()
df2[df2 > 0] = -df2
print df2

                   A         B         C         D    F
2013-01-01  0.530213  0.021556 -0.884208 -1.678046  NaN
2013-01-02 -0.371620  1.338301  1.022090  1.257012  1.0
2013-01-03 -0.116241 -0.236200  0.352203  0.316436  2.0
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272  3.0
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229  4.0
2013-01-06  0.010682 -0.503978  0.493109  1.302329  5.0
                   A         B         C         D    F
2013-01-01  0.000000  0.021556 -0.884208 -1.678046  NaN
2013-01-02 -0.371620  1.338301  1.022090  1.257012  1.0
2013-01-03 -0.116241 -0.236200  0.352203  0.316436  2.0
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272  3.0
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229  4.0
2013-01-06  0.010682 -0.503978  0.493109  1.302329  5.0
                   A         B         C         D    F
2013-01-01  0.000000  0.000000 -0.884208 -1.678046  NaN
2013-01-02 -0.371620  1.338301  1.022090  1.257012  1.0
2013-01-03 -0.116241 -0.236200  0.352203  0.316436  2.0
2013-01-04 -1.438136 -0.447501 -0.705454 -0.258272  3.0
2013-01-05 -0.559089 -1.498266 -1.021058  1.629229  4.0
2013-01-06  0.010682 -0.503978  0.493109  1.302329  5.0
                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.884208  5  NaN
2013-01-02 -0.371620  1.338301  1.022090  5  1.0
2013-01-03 -0.116241 -0.236200  0.352203  5  2.0
2013-01-04 -1.438136 -0.447501 -0.705454  5  3.0
2013-01-05 -0.559089 -1.498266 -1.021058  5  4.0
2013-01-06  0.010682 -0.503978  0.493109  5  5.0
                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -0.884208 -5  NaN
2013-01-02 -0.371620 -1.338301 -1.022090 -5 -1.0
2013-01-03 -0.116241 -0.236200 -0.352203 -5 -2.0
2013-01-04 -1.438136 -0.447501 -0.705454 -5 -3.0
2013-01-05 -0.559089 -1.498266 -1.021058 -5 -4.0
2013-01-06 -0.010682 -0.503978 -0.493109 -5 -5.0