In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame({
            'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
            'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
            'C' : np.random.randn(8),
            'D' : np.random.randn(8)
        })
    
print df

     A      B         C         D
0  foo    one  0.591120 -0.527716
1  bar    one  0.263005  0.410136
2  foo    two  1.595565 -0.426536
3  bar  three  1.810288 -0.181325
4  foo    two  0.918898  0.071073
5  bar    two -0.222300 -1.689678
6  foo    one  0.634327 -0.095153
7  foo  three -0.682276 -1.110283

In [2]:
# sum
df.groupby('A').sum()

            C         D
A
bar  1.850994 -1.460867
foo  3.057634 -2.088615

In [3]:
# sum
df.groupby(['A', 'B']).sum()

                  C         D
A   B
bar one    0.263005  0.410136
    three  1.810288 -0.181325
    two   -0.222300 -1.689678
foo one    1.225447 -0.622869
    three -0.682276 -1.110283
    two    2.514463 -0.355463