In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.DataFrame(np.random.randn(10, 4))
print df

          0         1         2         3
0 -0.213868 -1.807571 -0.226292 -0.663431
1  0.382122  0.056875 -1.592288  2.046009
2  0.204330  0.830182  0.036085  0.773409
3  1.185723  0.505538 -1.176828 -1.285025
4 -0.234874  0.377793 -1.194984 -1.644394
5  0.416291 -1.781505  1.135154  0.410989
6  0.917544 -0.072091 -0.133869  1.322274
7 -0.196691 -1.085966  0.417507 -0.272447
8 -0.644531  0.498189 -0.771941  0.225911
9  0.197051  0.072775 -1.468955  0.247115

In [5]:
# concat
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0 -0.213868 -1.807571 -0.226292 -0.663431
1  0.382122  0.056875 -1.592288  2.046009
2  0.204330  0.830182  0.036085  0.773409
3  1.185723  0.505538 -1.176828 -1.285025
4 -0.234874  0.377793 -1.194984 -1.644394
5  0.416291 -1.781505  1.135154  0.410989
6  0.917544 -0.072091 -0.133869  1.322274
7 -0.196691 -1.085966  0.417507 -0.272447
8 -0.644531  0.498189 -0.771941  0.225911
9  0.197051  0.072775 -1.468955  0.247115

In [8]:
# Join
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

print left
print right

pd.merge(left, right, on='key')

   key  lval
0  foo     1
1  foo     2
   key  rval
0  foo     4
1  foo     5

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [9]:
# Join
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'rval': [4, 5]})
    
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  bar     2     5

In [11]:
# Append
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

s = df.iloc[3]
print s

df.append(s, ignore_index=True)    # 把第3行append在最后

A   -1.647834
B    0.691195
C    1.957951
D    0.209513
Name: 3, dtype: float64

          A         B         C         D
0  1.014210  1.107628 -0.114250  0.310079
1 -1.034981 -1.316266 -0.791154 -0.383627
2  1.019069 -0.139836  0.372123  1.261822
3 -1.647834  0.691195  1.957951  0.209513
4 -1.177856 -0.626683 -1.163836  0.239937
5  0.028772 -1.312719  0.145514  0.851990
6 -0.487295  0.702497  0.834289  0.529885
7  0.682866  1.419415  0.440749 -0.024049
8 -1.647834  0.691195  1.957951  0.209513