In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01  0.186690 -2.303178  0.118587  0.258102
2013-01-02  0.280444 -0.997371 -0.106694 -1.171473
2013-01-03 -1.242549 -0.306347  0.804141  0.231410
2013-01-04  0.938459 -1.199974  0.239903  0.358172
2013-01-05  1.898371  0.287599 -0.982293  0.538836
2013-01-06 -0.920479  2.649266 -0.133967  0.185213

In [6]:
# getting
df['A']

2013-01-01    0.186690
2013-01-02    0.280444
2013-01-03   -1.242549
2013-01-04    0.938459
2013-01-05    1.898371
2013-01-06   -0.920479
Freq: D, Name: A, dtype: float64

In [7]:
df[0:3]

                   A         B         C         D
2013-01-01  0.186690 -2.303178  0.118587  0.258102
2013-01-02  0.280444 -0.997371 -0.106694 -1.171473
2013-01-03 -1.242549 -0.306347  0.804141  0.231410

In [9]:
# selection by label
df.loc[dates[0]]

A    0.186690
B   -2.303178
C    0.118587
D    0.258102
Name: 2013-01-01 00:00:00, dtype: float64

In [10]:
df.loc[:, ['A', 'B']]

                   A         B
2013-01-01  0.186690 -2.303178
2013-01-02  0.280444 -0.997371
2013-01-03 -1.242549 -0.306347
2013-01-04  0.938459 -1.199974
2013-01-05  1.898371  0.287599
2013-01-06 -0.920479  2.649266

In [11]:
df.loc['20130101':'20130104', ['A', 'B', 'C']]

                   A         B         C
2013-01-01  0.186690 -2.303178  0.118587
2013-01-02  0.280444 -0.997371 -0.106694
2013-01-03 -1.242549 -0.306347  0.804141
2013-01-04  0.938459 -1.199974  0.239903

In [12]:
# Selection by Position
df.iloc[3:5, 0:2]

                   A         B
2013-01-04  0.938459 -1.199974
2013-01-05  1.898371  0.287599

In [13]:
# Boolean Indexing
df[df.A > 0]

                   A         B         C         D
2013-01-01  0.186690 -2.303178  0.118587  0.258102
2013-01-02  0.280444 -0.997371 -0.106694 -1.171473
2013-01-04  0.938459 -1.199974  0.239903  0.358172
2013-01-05  1.898371  0.287599 -0.982293  0.538836

In [14]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.186690       NaN  0.118587  0.258102
2013-01-02  0.280444       NaN       NaN       NaN
2013-01-03       NaN       NaN  0.804141  0.231410
2013-01-04  0.938459       NaN  0.239903  0.358172
2013-01-05  1.898371  0.287599       NaN  0.538836
2013-01-06       NaN  2.649266       NaN  0.185213