In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

print dates
print df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01  0.695508  1.008011 -0.141561 -0.342956
2013-01-02  1.866238  0.797238  0.051273 -1.081191
2013-01-03 -0.931195  0.359968 -0.154428 -0.872579
2013-01-04  1.572204  1.060907  1.398674  0.188464
2013-01-05  0.022962  1.768449  2.475020 -0.461100
2013-01-06  0.986043  1.738098  0.074100  0.951738

In [3]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1

print df1

                   A         B         C         D    E
2013-01-01  0.695508  1.008011 -0.141561 -0.342956  1.0
2013-01-02  1.866238  0.797238  0.051273 -1.081191  1.0
2013-01-03 -0.931195  0.359968 -0.154428 -0.872579  NaN
2013-01-04  1.572204  1.060907  1.398674  0.188464  NaN

In [5]:
print df1.dropna(how='any')

                   A         B         C         D    E
2013-01-01  0.695508  1.008011 -0.141561 -0.342956  1.0
2013-01-02  1.866238  0.797238  0.051273 -1.081191  1.0

In [7]:
print df1.fillna(value=5)

                   A         B         C         D    E
2013-01-01  0.695508  1.008011 -0.141561 -0.342956  1.0
2013-01-02  1.866238  0.797238  0.051273 -1.081191  1.0
2013-01-03 -0.931195  0.359968 -0.154428 -0.872579  5.0
2013-01-04  1.572204  1.060907  1.398674  0.188464  5.0

In [8]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True