In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Series
pd.Series([1, 3, 5, np.nan, 6, 8])

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
# DataFrame
dates = pd.date_range('20130101', periods=6)
print dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# DataFrame
pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2013-01-01 -0.383711 -0.155094  0.368879  0.486944
2013-01-02 -0.314146 -1.401072  0.492830  0.379466
2013-01-03  1.158859  0.519939  0.332764  0.998800
2013-01-04  0.014253  1.479176  0.550150 -0.141773
2013-01-05 -0.616845 -0.266862  0.038908  0.326740
2013-01-06 -0.085392  1.024913  1.216737  0.526546

In [8]:
# DataFrame
data_frame = pd.DataFrame({
        'A' : 1.,
        'B' : pd.Timestamp('20130102'),
        'C' : np.array([3]*4, dtype='int32')
    })
print data_frame

     A          B  C
0  1.0 2013-01-02  3
1  1.0 2013-01-02  3
2  1.0 2013-01-02  3
3  1.0 2013-01-02  3