In [27]:
import pandas as pd
import numpy as np

# Setting
df = pd.DataFrame(np.arange(12).reshape(3, 4), index=pd.date_range('20130101', periods=3), columns=['A','B','C','D'])

df

            A  B   C   D
2013-01-01  0  1   2   3
2013-01-02  4  5   6   7
2013-01-03  8  9  10  11

In [29]:
df[df > 3] = -1
df

            A  B  C  D
2013-01-01  0  1  2  3
2013-01-02 -1 -1 -1 -1
2013-01-03 -1 -1 -1 -1

In [32]:
df[df['C'] == -1] = 3
df

            A  B  C  D
2013-01-01  0  1  2  3
2013-01-02  3  3  3  3
2013-01-03  3  3  3  3

In [34]:
df.loc[df['C'] == 3, 'C'] = -1
df

            A  B  C  D
2013-01-01  0  1  2  3
2013-01-02  3  3 -1  3
2013-01-03  3  3 -1  3